[package]
name = "s3"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = { workspace = true }
aws-config = { workspace = true, features = ["behavior-version-latest"] }
aws-sdk-s3 = { workspace = true, features = ["rustls", "rt-tokio"] }
flate2 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
chrono = { workspace = true, features = ["clock"] }
tokio = { workspace = true, features = ["test-util", "macros"] }

[lints]
workspace = true
