[package]
name = "autopilot"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
name = "autopilot"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "autopilot"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
clap = { version = "3.1", features = ["derive", "env"] }
contracts = { path = "../contracts" }
database = { path = "../database" }
ethcontract = { git = "https://github.com/gnosis/ethcontract-rs.git", branch = "add-blockhash-to-event-filter", default-features = false }
futures = "0.3"
gas-estimation = { git = "https://github.com/cowprotocol/gas-estimation", tag = "v0.7.1", features = ["web3_"] }
global-metrics = { path = "../global-metrics" }
maplit = "1.0"
model = { path = "../model" }
number-conversions = { path = "../number-conversions" }
primitive-types = { version = "0.10" }
prometheus = "0.13"
prometheus-metric-storage = { git = "https://github.com/cowprotocol/prometheus-metric-storage" , tag = "v0.4.0" }
serde_json = "1.0"
shared= { path = "../shared" }
sqlx = { version = "0.6", default-features = false, features = ["runtime-tokio-native-tls"] }
tokio = { version = "1.15", features = ["macros", "rt-multi-thread", "sync", "time", "signal"] }
tracing = "0.1"
url = "2.2"
web3 = { version = "0.18", default-features = false }


[dev-dependencies]
mockall = "0.11"
