[package]
name = "driver"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
name = "driver"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "driver"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
contracts = { path = "../contracts" }
ethcontract = { workspace = true }
futures = { workspace = true }
gas-estimation = { workspace = true }
global-metrics = { path = "../global-metrics" }
model = { path = "../model" }
num = { workspace = true }
number-conversions = { path = "../number-conversions" }
primitive-types = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
shared = { path = "../shared" }
solver = { path = "../solver" }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal", "time"] }
tracing = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true }

[dev-dependencies]
maplit = "1.0"
mockall = "0.11"
tokio = { workspace = true, features = ["test-util"] }
