[package]
name = "driver"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
name = "driver"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "driver"
path = "src/main.rs"

[dependencies]
axum = "0.6"
num = "0.4"
tokio = { version = "1.22", features = ["macros", "rt-multi-thread", "signal", "time"] }
futures = "0.3"
serde = "1.0"
serde_json = "1.0"
nonempty = "0.8"
ethereum-types = "0.14"
hex = "0.4"
reqwest = "0.11"
thiserror = "1.0"
chrono = "0.4"
tower = "0.4"
tower-http = { version = "0.3", features = ["limit", "trace"] }
hyper = "0.14"

# TODO These either need to be removed or changed to be direct
# dependencies rather than workspace dependencies
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
# TODO I think I can get rid of this
serde_with = { workspace = true }
contracts = { path = "../contracts" }
ethcontract = { workspace = true }
gas-estimation = { workspace = true }
global-metrics = { path = "../global-metrics" }
model = { path = "../model" }
number-conversions = { path = "../number-conversions" }
primitive-types = { workspace = true }
shared = { path = "../shared" }
solver = { path = "../solver" }
tracing = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true }

[dev-dependencies]
maplit = { workspace = true }
mockall = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
