[[solver]]
name = "mysolver" # Arbitrary name given to this solver, must be unique
endpoint = "http://0.0.0.0:33219/solve"
absolute-slippage = "12" # Denominated in wei, optional
relative-slippage = "0.1" # Percentage in the [0, 1] range
address = "0x2cf0a2Fef084b6DB3fb3161c8f2b6B61bcE2F73c" # The ETH address of this solver
private-key = "0xaa1de59084f3b7e501f2d48cafb2ee04cd06a79ea126fd27ddf3d1b8903bb85a" # The private key of the solver

[[solver]] # And so on, specify as many solvers as needed
name = "othersolver"
endpoint = "http://localhost:1235"
relative-slippage = "0.1"
private-key = "0xfe1cbe78dbf9511c37be9716b9b347bcefaaaf8ee5e86dd40cfc3d763ac9a7b6"

[contracts] # Optionally override the contract addresses, necessary on less popular blockchains
gp-v2-settlement = "0x9008D19f58AAbD9eD0D60971565AA8510560ab41"
weth = "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"

[liquidity]
base-tokens = [
    "0xDEf1CA1fb7FBcDC777520aa7f396b4E015F497aB",
    "0x6B175474E89094C44Da98b954EedeAC495271d0F",
]

# [[liquidity.uniswap-v2]] # Mainnet Uniswap V2 configuration
# router = "0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D"
# pool-code = "0x96e8ac4277198ff8b6f785478aa9a39f403cb768dd02cbee326c3e7da348845f"

# [[liquidity.uniswap-v2]] # Can specify other Uniswap V2 clones as well, like SushiSwap
# router = "0xd9e1cE17f2641f24aE83637ab66a2cca9C378B9F"
# pool-code = "0xe18a34eb0e04b04f7a0ac29a6e80748dca96319b42c54d679cb821dca90c6303"
