.DS_Store

/target
/.vscode
/.idea
**/testing.*.toml
/playground/.env
.env.claude

crates/pool-indexer/config.mainnet.toml
crates/pool-indexer/frontend/node_modules/
crates/pool-indexer/compare_subgraph.sh
