[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
anyhow = "=1.0.76"
async-trait = "0.1.80"
axum = "0.6"
bigdecimal = "0.3"
cached = { version = "0.44.0", default-features = false }
chrono = { version = "0.4.38", default-features = false }
clap = { version = "4.5.4", features = ["derive", "env"] }
derivative = "2.2.0"
derive_more = "0.99.17"
ethcontract = { version = "0.25.6", default-features = false, features = ["aws-kms"] }
ethcontract-generate = { version = "0.25.6", default-features = false }
ethcontract-mock = { version = "0.25.6", default-features = false }
ethereum-types = "0.14.1"
flate2 = "1.0.28"
futures = "0.3.30"
gas-estimation = { git = "https://github.com/cowprotocol/gas-estimation", tag = "v0.7.3", features = ["web3_", "tokio_"] }
hex = { version = "0.4.3", default-features = false }
hex-literal = "0.4.1"
humantime = "2.1.0"
humantime-serde = "1.1.1"
hyper = "0.14.28"
indexmap = "2.2.5"
itertools = "0.12.1"
lazy_static = "1.4.0"
maplit = "1.0.2"
mockall = "0.12.1"
num = "0.4.2"
once_cell = "1.19.0"
primitive-types = "0.12"
prometheus = "0.13.3"
prometheus-metric-storage = "0.5.0"
rand = "0.8.5"
regex = "1.10.4"
reqwest = "0.11.27"
secp256k1 = "0.27.0"
serde = { version = "1.0.198", features = ["derive"] }
serde_json = "1.0.116"
serde_with = "3.7.0"
sqlx = { version = "0.7", default-features = false, features = ["runtime-tokio", "tls-native-tls", "bigdecimal", "chrono", "postgres", "macros"] }
strum = { version = "0.25.0", features = ["derive"] }
tempfile = "3.10.1"
time = { version = "0.3.25", features = ["macros"] }
thiserror = "1.0.58"
toml = "0.8.12"
tokio = "1.32.0"
tokio-stream = { version = "0.1.15", features = ["sync"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
url = "2.5.0"
warp = { git = 'https://github.com/cowprotocol/warp.git', rev = "87a91e2", default-features = false }
web3 = { version = "0.19.0", default-features = false }
