[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
anyhow = "1"
async-trait = "0.1"
bigdecimal = "0.3"
cached = { version = "0.39", default-features = false }
chrono = { version = "0.4", default-features = false }
clap = { version = "4", features = ["derive", "env"] }
derivative = "2"
ethcontract = { version = "0.23.1", default-features = false }
ethcontract-generate = { version = "0.23", default-features = false }
ethcontract-mock = { version = "0.23", default-features = false }
futures = "0.3"
gas-estimation = { git = "https://github.com/cowprotocol/gas-estimation", tag = "v0.7.1", features = ["web3_", "tokio_"] }
hex = { version = "0.4", default-features = false }
hex-literal = "0.3"
itertools = "0.10"
lazy_static = "1"
maplit = "1"
mockall = "0.11"
num = "0.4"
once_cell = "1"
primitive-types = "0.10"
prometheus = "0.13"
prometheus-metric-storage = { git = "https://github.com/cowprotocol/prometheus-metric-storage", tag = "v0.4.0" }
rand = "0.8"
regex = "1"
reqwest = "0.11"
secp256k1 = "0.21"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "2"
sqlx = { version = "0.6", default-features = false, features = ["runtime-tokio-native-tls"] }
strum = { version = "0.24", features = ["derive"] }
thiserror = "1"
tokio = "1"
tracing = "0.1"
tracing-subscriber = "0.3"
url = "2"
warp = { git = 'https://github.com/vkgnosis/warp.git', rev = "87a91e2", default-features = false }
web3 = { version = "0.18", default-features = false }
