[package]
name = "contracts"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[[bin]]
name = "vendor"
required-features = ["bin"]

[features]
default = []
bin = [
    "env_logger",
    "ethcontract-generate",
    "log",
]

[dependencies]
anyhow = "1.0"
ethcontract = { git = "https://github.com/gnosis/ethcontract-rs.git", rev = "cafcac443f37cfe1e0e18b03a987a30b61b54695", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# [bin-dependencies]
env_logger = { version = "0.9", optional = true }
ethcontract-generate = { git = "https://github.com/gnosis/ethcontract-rs.git", rev = "cafcac443f37cfe1e0e18b03a987a30b61b54695", optional = true }
log = { version = "0.4", optional = true }

[build-dependencies]
ethcontract = { git = "https://github.com/gnosis/ethcontract-rs.git", rev = "cafcac443f37cfe1e0e18b03a987a30b61b54695", default-features = false }
ethcontract-generate = { git = "https://github.com/gnosis/ethcontract-rs.git", rev = "cafcac443f37cfe1e0e18b03a987a30b61b54695" }
maplit = "1.0"
