[package]
name = "contracts"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[[bin]]
name = "vendor"
required-features = ["bin"]

[features]
default = []
bin = [
    "ethcontract-generate",
    "serde_json",
    "tracing",
    "tracing-subscriber",
]

[dependencies]
alloy = { workspace = true, features = ["sol-types", "json", "contract"] }
paste = { workspace = true }
maplit = { workspace = true }
ethcontract = { workspace = true }
serde = { workspace = true }

# [bin-dependencies]
anyhow = { workspace = true }
ethcontract-generate = { workspace = true, optional = true, features = ["http"] }
serde_json = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"], optional = true }

[build-dependencies]
ethcontract = { workspace = true }
ethcontract-generate = { workspace = true }

[lints]
workspace = true
