[package]
name = "contracts"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[[bin]]
name = "vendor"
required-features = ["bin"]

[features]
default = []
bin = [
    "anyhow",
    "env_logger",
    "ethcontract-generate",
    "log",
    "serde_json",
]

[dependencies]
ethcontract = { version = "0.21.0", default-features = false }
serde = "1.0"

# [bin-dependencies]
anyhow = { version = "1.0", optional = true }
env_logger = { version = "0.9", optional = true }
ethcontract-generate = { version = "0.21.0", optional = true, default-features = false, features = ["http"] }
log = { version = "0.4", optional = true }
serde_json = { version = "1.0", optional = true }

[build-dependencies]
ethcontract = { version = "0.21.0", default-features = false }
ethcontract-generate = { version = "0.21.0", default-features = false }
maplit = "1.0"
