[package]
name = "ethrpc"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
name = "ethrpc"
path = "src/lib.rs"
doctest = false

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
lazy_static = { workspace = true }
mockall = { workspace = true }
observe = { path = "../observe" }
primitive-types = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
reqwest = { workspace = true, features = ["cookies"] }
scopeguard = "1.2.0"
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = [] }
tokio-stream = { workspace = true }
web3 = { workspace = true }
contracts = { path = "../contracts" }
ethcontract = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
itertools = { workspace = true }

[dev-dependencies]
maplit = { workspace = true }
testlib = { path = "../testlib" }

[lints]
workspace = true
