[package]
name = "database"
version = "0.1.0"
edition = "2021"

[dependencies]
hex = "0.4"
sqlx = { version = "0.6", default-features = false, features = ["chrono", "bigdecimal", "macros", "postgres"] }

[dev-dependencies]
sqlx = { version = "0.6", default-features = false, features = ["runtime-tokio-native-tls"] }
tokio = { version = "1.15", features = ["macros"] }
