[package]
name = "solver"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "GPL-3.0-or-later"

[lib]
name = "solver"
path = "src/lib.rs"
doctest = false

[dependencies]
alloy = { workspace = true }
anyhow = { workspace = true }
arc-swap = { workspace = true }
async-trait = { workspace = true }
contracts = { workspace = true }
ethrpc = { workspace = true }
futures = { workspace = true }
observe = { workspace = true }
const-hex = { workspace = true }
hex-literal = { workspace = true }
itertools = { workspace = true }
model = { workspace = true }
num = { workspace = true }
number = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
serde_json = { workspace = true }
shared = { workspace = true }
strum = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "time"] }
tracing = { workspace = true }

[dev-dependencies]
derivative = { workspace = true }
maplit = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
testlib = { workspace = true }
mockall = { workspace = true }
shared = { workspace = true, features = ["test-util"] }
ethrpc = {workspace = true, features = ["test-util"]}

[lints]
workspace = true
