[package]
name = "solver"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>"]
edition = "2021"
license = "GPL-3.0-or-later"

[lib]
name = "solver"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "solver"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
contracts = { path = "../contracts" }
derivative = "2.2"
derive_more = "0.99"
ethcontract = { version = "0.16.0", default-features = false }
ethcontract-mock = { version = "0.16.0" }
futures = "0.3"
gas-estimation = { git = "https://github.com/gnosis/gp-gas-estimation.git", tag = "v0.5.0", features = ["web3_"] }
hex = "0.4"
hex-literal = "0.3"
itertools = "0.10"
jsonrpc-core = "18.0"
lazy_static = "1.4"
maplit = "1.0"
model = { path = "../model" }
num = "0.4"
primitive-types = { version = "0.10", features = ["fp-conversion"] }
prometheus = "0.13"
rand = "0.8"
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = { version = "1.11", default-features = false }
shared = { path = "../shared" }
clap = { version = "3.1", features = ["derive", "env"] }
strum = { version = "0.23", features = ["derive"] }
thiserror = "1.0"
tokio = { version = "1.15", features = ["macros", "rt-multi-thread", "time", "test-util"] }
tracing = "0.1"
web3 = { version = "0.18", default-features = false }

[dev-dependencies]
tracing-subscriber = "0.3"
mockall = "0.11"
testlib = { path = "../testlib" }
