[package]
name = "observe"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
atty = "0.2"
console-subscriber = "0.3.0"
futures = { workspace = true }
once_cell = { workspace = true }
pin-project-lite = "0.2.14"
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
time = { workspace = true }
tokio = { workspace = true, features = [] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
