[package]
name = "observe"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
axum = { workspace = true }
atty = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true, features = ["now"] }
console-subscriber = { workspace = true, optional = true }
futures = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-http = { workspace = true }
opentelemetry-otlp = { workspace = true, features = ["grpc-tonic"] }
opentelemetry_sdk = { workspace = true }
pin-project-lite = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
scopeguard = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
time = { workspace = true, features = ["macros"] }
tokio = { workspace = true, features = ["fs"] }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
tracing-serde = { workspace = true }
jemalloc_pprof = { workspace = true }

[dev-dependencies]
tokio = {workspace = true, features = ["rt-multi-thread"]}

[lints]
workspace = true

[features]
default = []
tokio-console = ["dep:console-subscriber"]
