[package]
name = "observe"
version = "0.1.0"
authors = ["Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
atty = { workspace = true }
async-trait = { workspace = true }
console-subscriber = { workspace = true }
futures = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true, features = ["grpc-tonic"] }
opentelemetry_sdk = { workspace = true }
pin-project-lite = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
time = { workspace = true, features = ["macros"] }
tokio = { workspace = true, features = [ "fs" ] }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
warp = { workspace = true }

[lints]
workspace = true
