[package]
name = "solvers"
version = "0.1.0"
edition = "2021"

[lib]
name = "solvers"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "solvers"
path = "src/main.rs"

[dependencies]
axum = { workspace = true }
bigdecimal = { version = "0.3", features = ["serde"] }
chrono = { workspace = true, features = ["serde"], default-features = false }
clap = { workspace = true, features = ["derive", "env"] }
derive_more = { workspace = true }
ethereum-types = { workspace = true }
ethrpc = { path = "../ethrpc" }
futures = { workspace = true }
hex = { workspace = true }
hyper = { workspace = true }
itertools = { workspace = true }
num = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
rate-limit = { path = "../rate-limit" }
reqwest = { workspace = true }
s3 = { path = "../s3" }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
solvers-dto = { path = "../solvers-dto" }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal", "time"] }
toml = { workspace = true }
tower = "0.4"
tower-http = { workspace = true }
web3 = { workspace = true }

# TODO Once solvers are ported and E2E tests set up, slowly migrate code and
# remove/re-evaluate these dependencies.
anyhow = { workspace = true }
contracts = { path = "../contracts" }
model = { path = "../model" }
observe = { path = "../observe" }
shared = { path = "../shared" }
solver = { path = "../solver" }
tracing = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
hex-literal = { workspace = true }
ethcontract = { workspace = true }

[lints]
workspace = true
