[package]
name = "solvers"
version = "0.1.0"
edition = "2024"

[lib]
name = "solvers"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "solvers"
path = "src/main.rs"

[dependencies]
axum = { workspace = true }
bigdecimal = { workspace = true, features = ["serde"] }
chain = { workspace = true }
chrono = { workspace = true, features = ["serde"], default-features = false }
clap = { workspace = true, features = ["derive", "env"] }
derive_more = { workspace = true }
ethereum-types = { workspace = true }
ethrpc = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
hyper = { workspace = true }
hex-literal = { workspace = true }
ethcontract = { workspace = true }
itertools = { workspace = true }
mimalloc = { workspace = true }
num = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
solvers-dto = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal", "time"] }
toml = { workspace = true }
tower = { workspace = true }
tower-http = { workspace = true, features = ["limit", "trace"] }
url = { workspace = true, features = ["serde"] }
web3 = { workspace = true }

# TODO Once solvers are ported and E2E tests set up, slowly migrate code and
# remove/re-evaluate these dependencies.
anyhow = { workspace = true }
contracts = { workspace = true }
model = { workspace = true }
observe = { workspace = true, features = ["axum-tracing"] }
shared = { workspace = true }
solver = { workspace = true }
tracing = { workspace = true }
opentelemetry = { workspace = true }
tracing-opentelemetry = "0.31.0"

[dev-dependencies]
tempfile = { workspace = true }
hex-literal = { workspace = true }
ethcontract = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
vergen = { workspace = true, features = ["git", "gitcl"] }

[lints]
workspace = true
