[package]
name = "solvers"
version = "0.1.0"
edition = "2021"

[lib]
name = "solvers"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "solvers"
path = "src/main.rs"

[dependencies]
axum = "0.6"
bigdecimal = { version = "0.3", features = ["serde"] }
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "4", features = ["derive", "env"] }
ethereum-types = "0.12"
hex = "0.4"
hyper = "0.14"
itertools = "0.10"
num = "0.4"
reqwest = "0.11"
serde = "1"
serde_json = "1"
serde_with = "2"
thiserror = "1"
tokio = { version = "1", features = ["macros", "rt-multi-thread", "signal", "time"] }
tower = "0.4"
tower-http = { version = "0.3", features = ["trace"] }
toml = "0.7"

# TODO Once solvers are ported and E2E tests set up, slowly migrate code and
# remove/re-evaluate these dependencies.
contracts = { path = "../contracts" }
ethcontract = { workspace = true }
model = { path = "../model" }
shared = { path = "../shared" }
tracing = { workspace = true }
