[package]
name = "orderbook"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "GPL-3.0-or-later"
build = "build.rs"

[lib]
name = "orderbook"
path = "src/lib.rs"
doctest = false

[[bin]]
name = "orderbook"
path = "src/main.rs"

[dependencies]
alloy = { workspace = true }
anyhow = { workspace = true }
app-data = { workspace = true }
async-stream = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
bigdecimal = { workspace = true }
cached = { workspace = true }
chain = { workspace = true }
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true }
contracts = { workspace = true }
database = { workspace = true }
ethrpc = { workspace = true }
futures = { workspace = true }
const-hex = { workspace = true }
hex-literal = { workspace = true }
humantime = { workspace = true }
mimalloc = { workspace = true, optional = true }
tikv-jemallocator = { workspace = true }
model = { workspace = true }
multibase = { workspace = true }
num = { workspace = true }
number = { workspace = true }
order-validation = { workspace = true }
observe = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
shared = { workspace = true }
strum = { workspace = true }
sqlx = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal", "sync", "time"] }
tower = { workspace = true }
tower-http = { workspace = true, features = ["cors", "trace"] }
tracing = { workspace = true }
url = { workspace = true }

[dev-dependencies]
mockall = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
shared = { workspace = true, features = ["test-util"] }

[build-dependencies]
anyhow = { workspace = true }
vergen = { workspace = true, features = ["git", "gitcl"] }

[lints]
workspace = true

[features]
e2e = []
mimalloc-allocator = ["dep:mimalloc"]
tokio-console = ["observe/tokio-console"]
