openapi: 3.0.3
info:
  title: Solana Order Book API
  description: |
    Read-only API over the orders and settlements the indexer records from the
    Solana settlement program.
  version: 0.0.1
servers:
  - description: Solana (Staging)
    url: "https://barn.api.cow.fi/solana"
paths:
  /api/v1/orders/{uid}:
    get:
      operationId: getOrder
      description: |
        One order with its fill state.
      parameters:
        - name: uid
          in: path
          required: true
          description: The order's 32-byte intent hash as hex.
          schema:
            $ref: "#/components/schemas/OrderUid"
      responses:
        "200":
          description: The order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          description: The uid is not 32 bytes of hex.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No order with this uid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/orders/{uid}/status:
    get:
      operationId: getOrderStatus
      description: |
        The order's auction progress. A trade always reports `traded`,
        otherwise the latest auction event decides, and an indexed order
        without events is `scheduled`.
      parameters:
        - name: uid
          in: path
          required: true
          description: The order's 32-byte intent hash as hex.
          schema:
            $ref: "#/components/schemas/OrderUid"
      responses:
        "200":
          description: The auction progress.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompetitionOrderStatus"
        "400":
          description: The uid is not 32 bytes of hex.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No order with this uid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/trades:
    get:
      operationId: getTrades
      description: |
        Trades of one order or one owner. Exactly one of `orderUid` and
        `owner` must be set.
      parameters:
        - name: orderUid
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderUid"
        - name: owner
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Pubkey"
      responses:
        "200":
          description: The trades, ordered by slot.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trade"
        "400":
          description: |
            Both or neither filter set (`InvalidTradeFilter`), or a malformed
            filter value (`InvalidOrderUid`, `InvalidOwner`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/quote:
    post:
      operationId: postQuote
      description: |
        What one order would trade for right now. Indicative: no component
        simulates the settlement, so `verified` is always false and the
        amounts are not a commitment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteRequest"
      responses:
        "200":
          description: The quoted order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
        "400":
          description: |
            The body could not be parsed (`InvalidRequestBody`), buy and sell
            token are the same (`SameBuyAndSellToken`), the amount is zero
            (`ZeroAmount`), or `validTo` is closer than the configured minimum
            (default two minutes) or further than the configured maximum
            (default two hours) (`InsufficientValidTo`, `ExcessiveValidTo`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: No driver returned a route for the pair (`NoLiquidity`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    OrderUid:
      description: The order's 32-byte intent hash as hex.
      type: string
      example: "0x291a7e4327d1c8f8ffd97d290fa0d1d3e60cd71d16bee0a389a15adc7c99f076"
    Pubkey:
      description: A base58-encoded Solana public key.
      type: string
      example: "3JF3sEqM796hk5WFqA6EtmEwJQ9quALszsfJyvXNQKy3"
    TokenAmount:
      description: A token amount in base units as a decimal string.
      type: string
      example: "1000000"
    OrderKind:
      description: Which amount the order fixes.
      type: string
      enum: [sell, buy]
    OrderStatus:
      description: |
        Lifecycle of the order. A full fill wins over cancellation because
        reclaiming a filled order's account stamps a cancellation timestamp
        without undoing the fill.
      type: string
      enum: [open, fulfilled, cancelled, expired]
    Order:
      description: One order with its fill state.
      type: object
      required:
        - uid
        - owner
        - sellToken
        - buyToken
        - sellTokenAccount
        - buyTokenAccount
        - sellAmount
        - buyAmount
        - validTo
        - kind
        - partiallyFillable
        - appData
        - orderPda
        - creationDate
        - executedSellAmount
        - executedBuyAmount
        - status
      properties:
        uid:
          $ref: "#/components/schemas/OrderUid"
        owner:
          $ref: "#/components/schemas/Pubkey"
        sellToken:
          description: The mint of the token being sold.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        buyToken:
          description: The mint of the token being bought.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        sellTokenAccount:
          description: The owner's token account the sell tokens are pulled from.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        buyTokenAccount:
          description: The owner's token account the buy tokens are paid to.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        sellAmount:
          $ref: "#/components/schemas/TokenAmount"
        buyAmount:
          $ref: "#/components/schemas/TokenAmount"
        validTo:
          description: Expiry as unix seconds.
          type: integer
          format: int64
        kind:
          $ref: "#/components/schemas/OrderKind"
        partiallyFillable:
          type: boolean
        appData:
          description: The 32-byte app-data hash as hex.
          type: string
        orderPda:
          description: The order's on-chain account.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        creationDate:
          type: string
          format: date-time
        executedSellAmount:
          description: Sell tokens pulled from the order so far.
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        executedBuyAmount:
          description: Buy tokens paid to the order so far.
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        status:
          $ref: "#/components/schemas/OrderStatus"
    CompetitionOrderStatus:
      description: |
        Auction progress of an order. `solved`, `executing`, and `traded`
        carry a `value` list of per-solution inclusions, empty until the
        autopilot persists competition results.
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [open, scheduled, active, solved, executing, traded, cancelled]
        value:
          description: |-
            A list of solvers who participated in the latest competition, sorted
            by score in ascending order, where the last element is the winner.

            The presence of executed amounts defines whether the solver provided
            a solution for the desired order.
          type: array
          items:
            $ref: "#/components/schemas/SolutionInclusion"
    SolutionInclusion:
      description: One solution's view of the order.
      type: object
      required:
        - solver
      properties:
        solver:
          description: The on-chain address of the solver.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        executedAmounts:
          description: |-
            The executed amounts for the order as proposed by the solver,
            omitted when the solution does not include the order.
          type: object
          required:
            - sell
            - buy
          properties:
            sell:
              $ref: "#/components/schemas/TokenAmount"
            buy:
              $ref: "#/components/schemas/TokenAmount"
    Signature:
      description: A base58-encoded Solana transaction signature.
      type: string
      example: "BUguQsv2ZuHus54HAFzjdJHzZBkygAjKhEeYwSG19tUfUyvvz3worsdQCdAXDNjakJHioSiyxhFiDJrm8XpSXRA"
    Trade:
      description: One fill of an order.
      type: object
      required:
        - orderUid
        - owner
        - sellToken
        - buyToken
        - sellAmount
        - buyAmount
        - txSignature
        - instructionIndex
      properties:
        orderUid:
          $ref: "#/components/schemas/OrderUid"
        owner:
          $ref: "#/components/schemas/Pubkey"
        sellToken:
          description: The mint of the token sold.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        buyToken:
          description: The mint of the token bought.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        sellAmount:
          description: Sell tokens pulled by this fill.
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        buyAmount:
          description: Buy tokens paid by this fill.
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        txSignature:
          description: The settlement transaction.
          allOf:
            - $ref: "#/components/schemas/Signature"
        instructionIndex:
          description: |
            Position of the settlement instruction within its transaction,
            disambiguating multiple fills of one order in the same
            transaction.
          type: integer
          format: int32
        slot:
          description: |
            Slot the settlement landed in. Absent while the settlement row
            has not been indexed.
          type: integer
          format: int64
          nullable: true
    QuoteRequest:
      description: |
        A quote request. Fields with no Solana meaning (`signingScheme`,
        `priceQuality`, `sellTokenBalance`, `buyTokenBalance`) are accepted
        and ignored, so the EVM request body works unchanged.
      type: object
      required:
        - from
        - sellToken
        - buyToken
        - kind
      properties:
        from:
          $ref: "#/components/schemas/Pubkey"
        sellToken:
          $ref: "#/components/schemas/Pubkey"
        buyToken:
          $ref: "#/components/schemas/Pubkey"
        receiver:
          description: The buy token account proceeds land in. Echoed back untouched.
          allOf:
            - $ref: "#/components/schemas/Pubkey"
        kind:
          $ref: "#/components/schemas/OrderKind"
        sellAmountBeforeFee:
          description: "For `kind: sell`. No component charges a fee, so this equals `sellAmountAfterFee`."
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        sellAmountAfterFee:
          description: "For `kind: sell`."
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        buyAmountAfterFee:
          description: "For `kind: buy`."
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        validTo:
          description: Unix timestamp (`uint32`) the quoted order would expire at.
          type: integer
        validFor:
          description: Seconds from now the quoted order would expire after.
          type: integer
        appData:
          description: The 32-byte app-data hash as hex.
          type: string
    QuoteResponse:
      type: object
      required:
        - quote
        - from
        - expiration
        - verified
      properties:
        quote:
          $ref: "#/components/schemas/Quote"
        from:
          $ref: "#/components/schemas/Pubkey"
        expiration:
          description: When the quoted amounts stop being honored.
          type: string
          format: date-time
        id:
          description: The quote's database id. Null until quotes are persisted.
          type: integer
          format: int64
          nullable: true
        verified:
          description: Whether the amounts were confirmed by simulation. Always false.
          type: boolean
    Quote:
      description: The quoted order.
      type: object
      required:
        - sellToken
        - buyToken
        - sellAmount
        - buyAmount
        - validTo
        - feeAmount
        - kind
        - partiallyFillable
      properties:
        sellToken:
          $ref: "#/components/schemas/Pubkey"
        buyToken:
          $ref: "#/components/schemas/Pubkey"
        receiver:
          allOf:
            - $ref: "#/components/schemas/Pubkey"
          nullable: true
        sellAmount:
          $ref: "#/components/schemas/TokenAmount"
        buyAmount:
          $ref: "#/components/schemas/TokenAmount"
        validTo:
          description: Unix timestamp (`uint32`) the quoted order expires at.
          type: integer
        appData:
          description: The 32-byte app-data hash as hex.
          type: string
          nullable: true
        feeAmount:
          description: Always zero. No component charges a fee.
          allOf:
            - $ref: "#/components/schemas/TokenAmount"
        kind:
          $ref: "#/components/schemas/OrderKind"
        partiallyFillable:
          type: boolean
    Error:
      description: A machine-readable error type and a human-readable description.
      type: object
      required:
        - errorType
        - description
      properties:
        errorType:
          type: string
          example: "NotFound"
        description:
          type: string
