[package]
name = "e2e"
version = "1.0.0"
authors = [
    "Gnosis Developers <developers@gnosis.io>",
    "Cow Protocol Developers <dev@cow.fi>",
]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
alloy = { workspace = true, default-features = false, features = ["json-rpc", "providers", "rpc-client", "rpc-types", "transports", "reqwest", "signers", "signer-local"] }
app-data = { workspace = true }
anyhow = { workspace = true }
autopilot = { workspace = true }
axum = { workspace = true }
bigdecimal = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
contracts = { workspace = true, features = ["test-util"] }
database = { workspace = true }
driver = { workspace = true }
ethcontract = { workspace = true }
ethrpc = { workspace = true, features = ["test-util"] }
futures = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true }
model = { workspace = true, features = ["e2e"] }
number = { workspace = true }
observe = { workspace = true }
orderbook = { workspace = true, features = ["e2e"] }
reqwest = { workspace = true, features = ["blocking"] }
secp256k1 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
shared = { workspace = true }
solver = { workspace = true }
solvers = { workspace = true }
solvers-dto = { workspace = true }
sqlx = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["macros", "process"] }
tracing = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true, features = ["http"] }

[dev-dependencies]
refunder = { workspace = true }

[lints]
workspace = true
