[package]
name = "e2e"
version = "1.0.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
app-data = { path = "../app-data" }
anyhow = { workspace = true }
autopilot = { path = "../autopilot" }
axum = { workspace = true }
bigdecimal = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
contracts = { path = "../contracts" }
database = { path = "../database" }
driver = { path = "../driver" }
ethcontract = { workspace = true }
ethrpc = { path = "../ethrpc" }
hex = { workspace = true }
hex-literal = { workspace = true }
model = { path = "../model", features = ["e2e"] }
number = { path = "../number" }
observe = { path = "../observe" }
orderbook = { path = "../orderbook", features = ["e2e"] }
reqwest = { workspace = true, features = ["blocking"] }
secp256k1 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
shared = { path = "../shared" }
solver = { path = "../solver" }
solvers = { path = "../solvers" }
solvers-dto = { path = "../solvers-dto" }
sqlx = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["macros", "process"] }
tracing = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true, features = ["http"] }

[dev-dependencies]
futures = { workspace = true }
refunder = { path = "../refunder" }

[lints]
workspace = true
