[package]
name = "e2e"
version = "1.0.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
autopilot = { path = "../autopilot" }
chrono = { workspace = true }
clap = { workspace = true }
contracts = { path = "../contracts" }
database = { path = "../database" }
driver = { path = "../driver" }
ethcontract = { workspace = true }
ethrpc = { path = "../ethrpc" }
hex = { workspace = true }
hex-literal = { workspace = true }
model = { path = "../model" }
number = { path = "../number" }
observe = { path = "../observe" }
orderbook = { path = "../orderbook" }
reqwest = { workspace = true, features = ["blocking"] }
secp256k1 = { workspace = true }
serde_json = { workspace = true }
shared = { path = "../shared" }
solver = { path = "../solver" }
solvers = { path = "../solvers" }
sqlx = { workspace = true }
tempfile = "3.3.0"
tokio = { workspace = true, features = ["macros", "process"] }
tracing = { workspace = true }
web3 = { workspace = true, features = ["http"] }

[dev-dependencies]
app-data-hash = { path = "../app-data-hash" }
futures = { workspace = true }
rand = { workspace = true }
refunder = { path = "../refunder" }
