[package]
name = "testlib"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
contracts = { path = "../contracts" }
ethcontract = { workspace = true }
ethcontract-mock = { workspace = true }
hex-literal = { workspace = true }
