[package]
name = "testlib"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[dependencies]
alloy = {workspace = true}
anyhow = { workspace = true }
hex-literal = { workspace = true }
maplit = { workspace = true }
serde_json = { workspace = true }

[lints]
workspace = true
