[package]
name = "shared"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[dependencies]
anyhow = { workspace = true }
async-stream = "0.3"
async-trait = { workspace = true }
atty = "0.2"
cached = { workspace = true }
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true }
contracts = { path = "../contracts" }
database = { path = "../database" }
derivative = { workspace = true }
ethcontract = { workspace = true }
ethcontract-mock = { workspace = true }
futures = { workspace = true }
gas-estimation = { workspace = true }
global-metrics = { path = "../global-metrics" }
hex = { workspace = true }
hex-literal = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
lru = "0.8"
maplit = { workspace = true }
mockall = { workspace = true }
model = { path = "../model" }
num = { workspace = true }
number-conversions = { path = "../number-conversions" }
primitive-types = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
reqwest = { workspace = true, features = ["cookies", "gzip", "json"] }
scopeguard = "1"
secp256k1 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
time = { version = "0.3", features = ["macros"] }
tokio = { workspace = true, features = ["macros", "time"] }
tokio-stream = { version = "0.1", features = ["sync"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
url = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true }

[dev-dependencies]
flate2 = "1"
regex = { workspace = true }
testlib = { path = "../testlib" }
