[package]
name = "shared"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[dependencies]
anyhow = { workspace = true }
app-data = { path = "../app-data" }
bytes-hex = { path = "../bytes-hex" }
async-trait = { workspace = true }
bigdecimal = { workspace = true }
cached = { workspace = true }
chain = { path = "../chain" }
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true }
contracts = { path = "../contracts" }
dashmap = "6.1.0"
database = { path = "../database" }
ttl_cache = "0.5"
derivative = { workspace = true }
ethcontract = { workspace = true }
ethrpc = { path = "../ethrpc" }
flate2 = { workspace = true }
futures = { workspace = true }
gas-estimation = { workspace = true }
observe = { path = "../observe" }
hex = { workspace = true }
hex-literal = { workspace = true }
humantime = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
maplit = { workspace = true }
mockall = { workspace = true }
model = { path = "../model" }
num = { workspace = true }
number = { path = "../number" }
order-validation = { path = "../order-validation" }
primitive-types = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
rand = { workspace = true }
rate-limit = { path = "../rate-limit" }
reqwest = { workspace = true, features = ["cookies", "gzip", "json"] }
rust_decimal = { version = "1.35.0", features = ["maths"] }
secp256k1 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tokio = { workspace = true, features = ["macros", "time"] }
tokio-stream = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
url = { workspace = true }
warp = { workspace = true }
web3 = { workspace = true }
tikv-jemallocator = { workspace = true }

[dev-dependencies]
async-stream = "0.3.5"
tempfile = { workspace = true }
ethcontract-mock = { workspace = true }
regex = { workspace = true }
testlib = { path = "../testlib" }
app-data = { path = "../app-data", features = ["test_helpers"] }
tokio = { workspace = true, features = ["rt-multi-thread"] }

[lints]
workspace = true
