[package]
name = "shared"
version = "0.1.0"
authors = ["Gnosis Developers <developers@gnosis.io>", "Cow Protocol Developers <dev@cow.fi>"]
edition = "2024"
license = "MIT OR Apache-2.0"

[lib]
doctest = false

[dependencies]
alloy = { workspace = true, features = ["sol-types", "signer-local", "rand", "provider-trace-api"] }
anyhow = { workspace = true }
app-data = { workspace = true }
arc-swap = { workspace = true }
bytes-hex = { workspace = true }
async-trait = { workspace = true }
bigdecimal = { workspace = true }
cached = { workspace = true }
chain = { workspace = true }
chrono = { workspace = true, features = ["clock"] }
clap = { workspace = true }
contracts = { workspace = true }
dashmap = { workspace = true }
database = { workspace = true }
derive_more = { workspace = true }
ethrpc = { workspace = true }
futures = { workspace = true }
observe = { workspace = true }
const-hex = { workspace = true }
hex-literal = { workspace = true }
humantime = { workspace = true }
humantime-serde = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
model = { workspace = true }
num = { workspace = true }
number = { workspace = true }
order-validation = { workspace = true }
prometheus = { workspace = true }
prometheus-metric-storage = { workspace = true }
rand = { workspace = true }
rate-limit = { workspace = true }
reqwest = { workspace = true, features = ["cookies", "gzip", "json", "query"] }
rust_decimal = { workspace = true, features = ["maths"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "time", "signal"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt", "time"] }
url = { workspace = true }

moka = { workspace = true, features = ["sync"] }
mockall = { workspace = true, optional = true }

[dev-dependencies]
alloy = { workspace = true, features = ["rand"] }
app-data = { workspace = true, features = ["test_helpers"] }
async-stream = { workspace = true }
ethrpc = { workspace = true, features = ["test-util"] }
maplit = { workspace = true }
mockall = { workspace = true }
regex = { workspace = true }
testlib = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
toml = { workspace = true }

[features]
test-util = ["dep:mockall"]

[lints]
workspace = true
